@charset "UTF-8";

.hidden{display: none;}

/* mobile area */
/* body{background: pink;} */
#wrap{
  width: 80%;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
}

/* mo - 인포메이션 영역 */
.info-section{
  order: 1;
  width: 100%;
  background: #2ecc71;
  border-bottom: 1px solid #39d67c;
}
.info-section .info-list{
  display: flex;
}
.info-section .info-list li{
  width: 25%;
  text-align: center;
}
.info-section .info-list li a{
  display: block;
  padding: 15px 0;
}

/* mo - header area */
header{
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; /*메뉴토글버튼의 기준*/
}
header h1{
  order: 1;
  width: 100%;
  background: #2ecc71;
  padding: 30px 0;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #25ab5e;
  text-align: center;
  line-height: 1.5;
}

header nav{
  order: 2;
  width: 100%;
}
header nav ul{display: none;}
header nav ul li{
  display: flex;
  background: #2c3e50;
}
header nav ul li a{
  width: 80%;
  padding: 20px 0;
  font-weight: bold;
  font-size: 0.938em; /*15px*/
  text-indent: 20px;
}
header nav ul li span{
  width: 20%;
  text-indent: -9999px;
  cursor: pointer;
  background: url(../images/s_images/sub_menu_toggle_btn.png) no-repeat center;
}

/* mo - 전체메뉴토글 버튼 */
.menu-toggle-btn{
  display: block;
  width: 30px;height: 30px;
  text-indent: -9999px;
  background: url(../images/s_images/menu_toggle_btn.png);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* mo - slide area */
.slide-section{
  order: 3;
  width: 100%;height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../images/p_images/slider_01.jpg) no-repeat center;
}
.slide-section span{
  width: 34px;height: 39px;
  text-indent: -9999px;
  background: url(../images/s_images/slider_arrow.png);
  cursor: pointer;
}
.slide-section span.prev-btn{margin-left: -10px;}
.slide-section span.next-btn{margin-right: -10px;background-position: -34px 0;}

/* mo - latest, popular 공통  */
.latest-section,.popular-section{
  padding: 40px 12.5%;
}
.latest-section h2,.popular-section h2{color: #fff;text-align: center;font-size: 1.188em;margin-bottom: 30px;}
.latest-section ul li,
.popular-section ul li{
  margin-top: 14px;
  background: url(../images/s_images/post_circle_icon.png) no-repeat left center;
  padding-left: 13px;
}


/* mo - latest area */
.latest-section{order: 4;background: #ffc40f;}
.latest-section h2, .latest-section ul li{text-shadow: 0 1px 1px #b98e0b;}

/* mo - popular area */
.popular-section{order: 5;background: #a660c2;}
.popular-section h2, .popular-section ul li{text-shadow: 0 1px 1px #714185;}


/* mo - gallery area */
.gallery-section{
  order: 6;
  padding: 50px 12.5%;
  background: #e65d5d;
  text-shadow: 0 1px 1px #c43434;
  text-align: center;

}
.gallery-section ul li{margin-top: 30px;}
.gallery-section ul li a figure img{width: 100%;max-width:100%;border-radius: 3px;box-shadow: 0 1px 1px #c43434;}
.gallery-section ul li a figure figcaption{margin-top: 20px;font-size: 1.188em;font-weight: bold;}

/* mo - 인기검색어 area */
.rankup-section{
  order: 7;
  background: #219af7;
  padding: 40px 12.5%;
  text-shadow: 0 1px 1px #1974ba;
}
.rankup-section h2{text-align: center;color: #fff;font-size: 1.188em;}
.rankup-section ul{display: flex;flex-wrap: wrap;justify-content: space-between;}
.rankup-section ul li{width: 45%;margin-top: 15px;text-align: center;}
.rankup-section ul li a{display: block;padding: 10px 0;border: 1px solid #fff;border-radius: 5px;}

/* mo - 배너영역 */
.banner-section{order: 8;}
.banner-section div.box1{background: #e6567a;}
.banner-section div.box1 a{display: block;padding: 30px 0;text-align: center;}
.banner-section div.box2{background: #c44968;}
.banner-section div.box2 ul{display: flex;padding: 30px 12.5%;justify-content: space-between;}

/* mo - 소셜네트워크 영역 */
.social-section{order: 9;background: #fff;padding: 24px 12.5%;}
.social-section ul{display: flex;justify-content: space-between;}

/* mo - footer area */
footer{
  order: 10;
  width: 100%;
  background: #474747;
}
footer p{
  padding: 20px;text-align: center;color: #fff;font-size: 0.625em;
  text-transform: uppercase;
}

/* tab area------------------------------------------------------------ */
@media all and (min-width:768px){
  /* body{background-color: palegoldenrod;} */

  /* tab - wrap area */
  #wrap{flex-flow: row wrap;}

  /* tab - header area */
  header{flex-direction: row;}
  header h1{
      position: absolute; top: 0; left: 0;
      /* (120÷768)x100 = 15.625 */
      width: 15.625%;
      padding: 0; z-index: 5;
  }
  header h1 a{display: block;padding: 50px 0;}
  header nav{
      position: relative;/* nav ul의 기준 */
      min-height: 80px;
      background: #2ecc71;
  }
  header nav ul{
      position: absolute; top: 100%;right: 0;
      /* (310÷768)x100 = 40.36458333333333*/
      width: 40.36458333333333%;
      z-index: 20;
  }
  .menu-toggle-btn{top: 30%;}

  /* tab - slide area */
  .slide-section{
      /* (460÷768)x100 */
      width: 59.89583333333333%; height: auto;
  }
  .slide-section span{position: relative;z-index: 10;}

  /* tab - rankup area */
  .rankup-section{
      order: 4;
      /* (308÷768)x100 = 40.10416666666667%*/
      width: 40.10416666666667%;
      /* (30÷768)x100 = */
      padding: 40px 3.90625%;
      flex: 1;
  }

  /* tab - latest, popular 공통 */
  .latest-section, .popular-section{
      /* (320÷768)x100 =41.66666666666667 */
      width: 41.66666666666667%;
      /* (40÷768)x100 =5.208333333333333 */
      padding: 40px 5.208333333333333%;
      box-sizing: border-box;
  }

  /* tab - latest area */
  .latest-section{order: 5; 
  }
  /* tab - popular area */
  .popular-section{order: 6;
  }

  /* tab - social area */
  .social-section{
      order: 7;
      /* (128÷768)x100  */
      width: 16.666666666667%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .social-section ul{flex-direction: column;}
  .social-section ul li:nth-child(2){margin: 24px 0;}

  /* tab - gallery area */
  .gallery-section{
      order: 8;
      /* (548÷768)x100 */
      width: 71.35416666667%;
      box-sizing: border-box;
      /* (40÷768)x100 */
      padding: 40px 5.2083333333333%;
  }
  .gallery-section ul{display: flex; justify-content: space-around;}
  .gallery-section ul li{margin-top: 0;
      width: 45%;
  }
  .gallery-section ul li a figure figcaption{font-size: 1.8vw;}

  /* tab - banner */
  .banner-section{display: flex; flex-direction: column;
      width: 28.64583333333333%;
      order: 9;
  }
  .banner-section div{flex: 1;}

  /* tab - footer */
  footer p{padding: 40px; font-size: 1.5vw;}
}/* tab end */

/* pc area */
@media all and (min-width:960px){
  /* body{background: palegreen;} */
  #wrap{
    width: 90%;
    position: relative; /* 인포메이션의 기준 */
  }
  /* pc - info */
  .info-section{
    position: absolute; top: 30px; right: 30px; z-index: 30;
    width: auto; border-bottom:0;
    order: 0;
  }
  .info-section .info-list li{margin-left: 15px;}
  .info-section .info-list li a{padding: 0;}
  /* pc - header area */
  header{
    order: 1; justify-content: flex-end;
  }
  header h1{
    /* (120÷960)x100 */
    width: 12.5%;
  }
  header nav{
    /* (840÷960)x100 */
    width: 87.5%;
  }
  header nav ul{
    position: static;
    width: 100%;
    display: flex !important;
    margin-top: 15px;
  }
  header nav ul li{
    background: none;
    margin-left: 20px;
  }
  header nav ul li a{width: auto; text-shadow: 0 1px 1px #25ab5e;}
  header nav ul li span{display: none;}
  .menu-toggle-btn{display: none;}

  /* pc-slide section */
  .slide-section{
    order: 2;
    width: 50%;
    
  }
  /* pc -gallery section */
  .gallery-section{
    order: 3;
    /* (260÷960)x100 */
    width: 27.0833333333333333%;
    padding: 20px 5%;
    display: flex;
    align-items: center;
  }
  .gallery-section ul{
    flex-wrap: wrap;
  }
  .gallery-section ul li{width: 130%;}
  .gallery-section ul li:first-child{margin-bottom: 30px; text-align: center;}
  .gallery-section ul li a figure figcaption{font-size: 0.8vw;}

  /* pc - rankup section */
  .rankup-section{
    order: 4;
    /* (220÷960)x100 */
    width: 22.91666666666667%;
    padding: 20px 5%;
  }
  
  .rankup-section ul{flex-direction: column;}
  .rankup-section ul li{width: auto; text-align: left; counter-increment: rankup-counter;}
  .rankup-section ul li::before{content: counter(rankup-counter)'.'; color: #fff; font-weight: bold;padding-right: 6px;}
  .rankup-section ul li a{border: 0; padding: 0;display: inline;font-size: 0.8vw;}
  
  /* pc - latest-section */
  .latest-section, .popular-section{
    /* (288÷960)x100 */
    width: 30%;
    padding: 30px 3%;
  }
  .latest-section{order: 5;}
  .popular-section{order: 6;}

  .banner-section{
    order: 7;
    /* (220÷960)x100 */
    width: 22.91666666666666667%;
  }
  .social-section{order: 8; width: 17.0833333333333%;}


  footer p{font-size: 0.5vw; text-align: left;}
}/* pc end*/
